services:
  - type: web
    name: avtotest-backend
    env: node
    buildCommand: cd .. && npm install && npm rebuild sharp
    startCommand: cd server && node index.js
    envVars:
      - key: NODE_ENV
        value: production
      - key: BOT_TOKEN
        sync: false
      - key: PORT
        value: 5000
